@font-face {
	font-family: JetBrainsMono;
	src: url(./fonts/JetBrainsMono-VariableFont_wght.ttf);
}

@font-face {
	font-family: Blinker;
	src: url(./fonts/Blinker-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: Blinker;
	src: url(./fonts/Blinker-Bold.ttf);
	font-weight: 700;
}

:root {
	--main-navy: #202a44;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root,
.App {
	height: 100%;
}

html {
	font-size: 62.5%;
}

.App {
	font-family: sans-serif;
}
