.home-page {
	height: calc(100% - var(--navbar-height));
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.homepage-section {
	background-color: rgba(255, 255, 255, 90%);
	width: 90%;
	padding: 3rem 5rem;
	border-radius: 2rem;
	margin-bottom: 3rem;
}

.homepage-section > h1 {
	font-family: "Blinker", sans-serif;
	font-weight: 400;
	font-size: 3rem;
	text-align: center;
}

a.catalog-link {
	font-family: "Blinker";
	text-decoration: none;
	font-size: 4rem;
	padding: 1.5rem 4rem;
	color: white;

	background-color: var(--main-navy);
	border-radius: 1rem;
	cursor: pointer;
}

@media only screen and (min-width: 900px) {
	.homepage-section {
		background-color: rgba(255, 255, 255, 90%);
		width: 80%;
		padding: 3rem 5rem;
		border-radius: 2rem;
		margin-bottom: 6rem;
		display: flex;
		justify-content: center;
	}
	.homepage-section > h1 {
		font-size: 5rem;
		text-align: center;
		width: 80%;
	}
	a.catalog-link {
		font-size: 4rem;
		padding: 2rem 6rem;
	}
}

@media only screen and (min-width: 1400px) {
	.homepage-section {
		background-color: rgba(255, 255, 255, 90%);
		width: 70%;
		padding: 3rem 5rem;
		border-radius: 2rem;
		margin-bottom: 5rem;
		display: flex;
		justify-content: center;
	}
	.homepage-section > h1 {
		font-size: 6rem;
		width: 65%;
	}
	a.catalog-link {
		font-size: 6rem;
		padding: 2rem 6rem;
	}
}
