.listing-page {
	width: 100%;
	height: calc(100% - var(--navbar-height));
}

.listing-page-top {
	width: 100%;
	font-family: "Blinker";
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	row-gap: 5rem;
	padding: 5rem 6rem;
	margin-bottom: 4rem;
}

.listing-page-info {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.listing-page-info .listing-title {
	width: 100%;
	font-size: 2.4rem;
	font-weight: 400;
	border-bottom: 1px solid rgb(187, 187, 187);
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	text-align: center;
}

.listing-page-top .listing-price,
.listing-page-top .listing-condition {
	text-align: center;
	width: 100%;
	font-size: 1.8rem;
}

.listing-page-top .listing-price {
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid rgb(187, 187, 187);
}

.listing-page-top .listing-quantity-section {
	font-size: 1.8rem;
	padding-bottom: 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.listing-quantity-modifier {
	margin: 2rem auto;
	display: flex;
	gap: 1rem;
}

.listing-quantity-section input {
	outline: none;
	text-align: center;
}

.change-quantity-button {
	width: 3rem;
	height: 3rem;
	border: none;
	background-color: var(--main-navy);
	color: white;
	border-radius: 50%;
	font-size: 2rem;
	cursor: pointer;
}

.add-to-cart-button {
	width: 100%;
	height: 5rem;
	border: none;
	border-radius: 0.5rem;
	background-color: var(--main-navy);
	color: white;
	font-size: 2rem;
	word-spacing: 0.3rem;
	font-family: "Blinker";
	cursor: pointer;
}

.listing-description-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.listing-description-section h1 {
	font-size: 2.8em;
	margin-bottom: 2.5rem;
}

.listing-description {
	max-width: 600px;
	font-size: 2.2rem;
}

@media screen and (min-width: 700px) {
	.listing-page-top {
		grid-template-columns: 1fr 1fr;
	}
	.listing-page-info {
		flex-direction: column;
		align-items: center;
		padding: 7.5rem;
	}
}

@media screen and (min-width: 1200px) {
	.listing-page-top {
		padding: 0 15rem;
		padding-top: 5rem;
	}
}
