.login-page,
.sign-up-page {
	height: calc(100% - var(--navbar-height));
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth-form-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 50rem;
	margin: 1rem auto;
	padding: 5rem 1rem;
	border: 0.1rem solid gray;
	border-radius: 1rem;
}

.auth-form-container h1 {
	padding: 1rem;
	text-align: center;
	font-family: Arial;
}

.login-form,
.signUp-form {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: auto;
	padding: 0.5rem 0;
}

label {
	text-align: left;
	padding: 0.28rem 0;
	font-size: medium;
}

.login-form input,
.signUp-form input {
	margin: 0.5rem 0;
	padding: 1rem;
	border-color: black;
	border-radius: 1rem;
}

.login-form button,
.signUp-form button {
	border: none;
	background-color: var(--main-navy);
	border-radius: 1rem;
	color: white;
	padding: 1.5rem;
	border-radius: 1rems;
	cursor: pointer;
	margin-top: 2rem;
}

.login-link,
.signup-link {
	display: flex;
	justify-content: center;
}

.link-btn {
	background: none;
	color: black;
	text-decoration: underline;
	cursor: pointer;
	border: none;
}
