main.upload-page {
	margin-top: 2rem;
}

.upload-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 80%;
	max-width: 70rem;
	margin: auto;
	padding: 1rem 0;
}

.upload-form input,
.upload-form textarea {
	margin: 0.5rem 0;
	padding: 1rem;
	border-color: black;
	border-style: solid;
	border-width: 0.2rem;
	border-radius: 1rem;
	font-family: sans-serif;
}
.upload-form input.invalid,
.upload-form textarea.invalid {
	border-color: red;
	outline: red;
}

.upload-form input {
	text-align: center;
}

.upload-form textarea {
	resize: none;
	height: 5rem;
	width: 100%;
	padding: 1rem;
	height: 13rem;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	resize: none;
}

input#price-dollars {
	border-right: none;
	outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.create-listing-btn {
	margin-top: 2rem;
	background-color: var(--main-navy);
	color: white;
	border: none;
	height: 5rem;
	border-radius: 1rem;
	font-size: 2rem;
	cursor: pointer;
}
